<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
      >
<head>
    <meta charset="UTF-8">
    <title>Test page</title>
    <link href="webjars/bootstrap/3.3.6/css/bootstrap.min.css"
          rel="stylesheet">
    <script src="webjars/bootstrap/3.3.6/js/bootstrap.min.js"></script>
    <script src="webjars/jquery/2.1.1/jquery.min.js"></script>
</head>
<body>

<div class="col-sm-12 col-lg-12">
    <div class="row">
        <div class="col-sm-6 col-lg-6">
            <p class="lead text-muted">Posts</p>
            <table class="table table-striped" data-effect="fade">
                <thead>
                <tr>
                    <th>Id</th>
                    <th>Content</th>
                </tr>
                </thead>
                <tbody>
                <tr th:each="post: ${posts}">
                    <td th:text="${post.id}"/>
                    <td th:text="${post.content}"/>
                </tr>
                </tbody>
            </table>
        </div>
    </div>
</div>
</body>
</html>